<object type="application/x-shockwave-flash"
        style="{{ stream.offline ? 'position: absolute;' : ''}}"
        width="{{ stream.offline ? '0%' : '100%'}}"
        height="{{ stream.offline ? '0%' : '100%'}}"
        data="{{swfurl}}">
    <param name="allowFullscreen" value="true"/>
    <param name="scale" value="noscale"/>
    <param name="bgcolor" value="#000000"/>
    <param name="wmode" value="direct"/>
    <param name="flashvars" value="videoUrl={{config.rtmpBase}}/{{streamApp}}/{{streamName}}&amp;buffer={{buffer}}&amp;idleImage={{stream.idleImage}}"/>
</object>
<div ng-show="stream.offline" class="offlineimg">
    <img ng-src="{{stream.idleImage}}" wide-tall-decide/>
</div>