<div class="centeroid">
    <form name="profileFormCredentials" method="post" ng-controller="ProfileCredentialsController" app-submit="updateCredentials(credentials)" novalidate>

        <div class="fieldgroup">
            <input type="password"
                   id="currentPassword"
                   name="currentPassword"
                   placeholder="Current Password"
                   ng-model="credentials.currentPassword"
                   minlength="3"
                   maxlength="64"
                   required="true"
                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 250, blur: 0 } }">
            <span class="label">— Original Password</span>
            <div class="errors">
                <div ng-show="profileFormCredentials.currentPassword.$error.minlength || (profileFormCredentials.currentPassword.$dirty && profileFormCredentials.currentPassword.$error.required)">Password should be at least 3 symbols length</div>
                <div ng-show="profileFormCredentials.currentPassword.$error.maxlength">Password should not exceed 64 symbols length</div>
            </div>
        </div>

        <div class="fieldgroup">
            <input type="password"
                   id="password"
                   name="password"
                   placeholder="New Password"
                   ng-model="credentials.password"
                   minlength="3"
                   maxlength="64"
                   required="true"
                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 250, blur: 0 } }">
            <span class="label">— Password</span>
            <div class="errors">
                <div ng-show="profileFormCredentials.password.$error.minlength || (profileFormCredentials.password.$dirty && profileFormCredentials.password.$error.required)">Password should be at least 3 symbols length</div>
                <div ng-show="profileFormCredentials.password.$error.maxlength">Password should not exceed 64 symbols length</div>
            </div>
        </div>

        <div class="fieldgroup">
            <input type="password"
                   id="passwordconfirm"
                   name="passwordconfirm"
                   placeholder="Password Confirmation"
                   ng-model="credentials.passwordconfirm"
                   same-as="profileFormCredentials.password"
                   required="true"
                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 250, blur: 0 } }">
            <span class="label">— Password confirmation</span>
            <div class="errors">
                <div ng-show="(profileFormCredentials.password.$valid && profileFormCredentials.passwordconfirm.$error.sameAs) || (profileFormCredentials.passwordconfirm.$dirty && profileFormCredentials.passwordconfirm.$error.required)">Password confirmation should be same as password</div>
            </div>
        </div>

        <div class="fieldgroup">
            <button type="submit">Submit</button>
        </div>

        <ul>
            <li ng-if="profileFormCredentials.$submitted && !profileFormCredentials.$valid">Please correct the form</li>
            <li ng-if="error">{{error}}</li>
        </ul>
    </form>
</div>