html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #aaa;
  cursor: pointer;
}

a:visited:hover {
  color: #aaa;
  cursor: pointer;
}

a:visited {
  color: #00c;
}

.header {
  height: 1.5em;
  background: #000;
  z-index: 1;
}

.header .right {
  line-height: 1.5em;
  float: right;
}

.header > div > a {
  margin-right: 1ex;
  color: #fff;
}

.header > div > a:hover {
  color: #eee;
}

.root-container {
  width: auto;
  height: auto;
  position: absolute;
  top: 1.5em;
  left: 0;
  right: 0;
  bottom: 0;
}


.inner-container {
  padding: 1em;
}

.fancybox {
  border-radius: 1em;
  padding: 1em;
  background: #eee;
}

.player-container {
  width: auto;
  height: auto;
  position: absolute;
  top: 1.5em;
  left: 0;
  right: 20%;
  bottom: 0;
  background:#000;
}
.player-wrapper {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px; /* chrome scroll fix */
  background: #000
}

.chat-container {
  width: auto;
  height: auto;
  position: absolute;
  top: 1.5em;
  left: 80%;
  width: 20% !important;
  word-break: break-all;
  right: 0;
  bottom: 0;
  word-wrap: break-word; /* IE>=5.5 */
  white-space: -moz-pre-wrap; /* For Fx<=2 */   
  white-space: pre-wrap; /* Fx>3, Opera>8, Safari>3 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-line;
}

.chat-wrapper {
  display: block;
  height:100%;
  width:100%;
}

.chat-area {
  width: 100%;
  height:80%;
  overflow-y: auto;
}

.botbar {
  width: 100%;
  position: absolute;
  left: 0;
  top: 80%;
  right: 0;
  bottom: 0;
}

.botbar .info {
  height: 15px;
  width:100%;
  background:#000;
}

.botbar .info > * {
  line-height: 15px;
  font-size: 10px;
  color: #fff;
}

.botbar .info > .counter {
  float: left;
  padding-left: 5px;
}

.botbar .info > .charleft {
  float: right;
  padding-right: 5px;
}

.botbar .textareawrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 1em;
  bottom: 0;
}

.botbar .textareawrap textarea {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

form {
  padding: 1ex;
  margin: 1ex;
  border-radius: 1ex;
  background: #ddd;
}

form > table > tr {
  height: 32px;
  line-height: 32px;
}

form > table > tr > * {
  vertical-align: middle;
}

.footer {
  text-align: center;
}



.message {
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 0.5ex;
}

.message img {
  padding-left: 5px;
  padding-right: 5px;
}

.message .datetime {
  line-height: 16px;
  float: right;
  display: table;
  width: 100%;
}

.message .datetime span {
  vertical-align: middle;
  line-height: 16px;
  font-size: 8pt;
  width: 100%;
  display: table-cell;
  text-align: right;
}

.message .datetime img {
  width: 16px;
  display: table-cell;
}

.message .ordinal {
  float:right;
  display: block;
  font-size: 8pt;
  padding-right: 5px;
}

.message > img {
  float: left;
  display: inline-block;
}

.msgtext .quote {
  color: #0a0;
}

.histbutt {
  display: block;
  width: 100%;
  text-align: center;
}

.history {
  background: #eee;
}

.clearfix {
  clear: both;
}


.main li {
  list-style: none;
}

.main li div {
  line-height: 32px;
  display: table;
}

.main li div > * {
  vertical-align: middle;
}

.ui-tooltip {
  left: 80%;
  width: 20%;
  position: fixed;
  z-index: 99999;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

.ui-dialog  {
  background: #fff;
}

.counter, .charleft {
  display: inline-block;
  vertical-align: middle;
}

.avatars {
  background: #fff;
  padding:5px;
}
