<div ng-show="success" class="container-fluid" style="padding-top: 20px; flex-grow: 1;" >
    <h3>Success! Check your email for the password reset instructions.</h3>
</div>
<form ng-show="!success" class="container-fluid" style="padding-top: 20px; flex-grow: 1;" form-errors="" name="form" novalidate>
    <div style="padding-top: 15px">

        <script type="text/ng-template" id="desc_InvalidEmail.html">
            Invalid username or email
        </script>

        <script type="text/ng-template" id="desc_AlreadySent.html">
            Instructions already have been sent
        </script>

        <script type="text/ng-template" id="desc_ReCaptcha.html">
            Invalid CAPTCHA
        </script>

        <div ng-class="{'has-error': form.username.$error.arr}" class="form-group">
            <input ng-minlength="3" ng-maxlength="30" ng-required="true" ng-model="username" class="form-control" name="username" type="text" placeholder="Username">
        </div>
        <div ng-class="{'has-error': form.email.$error.arr}" class="form-group">
            <input ng-required="true" ng-model="email" class="form-control" name="email" type="text" placeholder="Email">
        </div>

        <div style="display: flex; flex-direction: row; height: 78px">
            <div style="flex-grow: 0" recaptcha="{{captchaPub}}"></div>
            <alert style="flex-grow: 1; margin: 0 0 2px 1em" ng-show="form.tooltip.length > 0" close="form.tooltip = []">
                <ul>
                    <li ng-repeat="tip in form.tooltip">{{tip}}</li>
                </ul>
            </alert>
        </div>

        <button type="submit" style="margin-top: 1em" class="btn btn-default" ng-click="requestreset(username, email)">Request</button>
    </div>
</form>