<div ng-show="success" class="container-fluid" style="padding-top: 20px; flex-grow: 1;" >
    <h3>Success! Try to login with your new password</h3>
</div>
<form ng-show="!success" class="container-fluid" style="padding-top: 20px; flex-grow: 1;" form-errors="" name="form" novalidate>
    <div style="padding-top: 15px">
        <script type="text/ng-template" id="desc_InvalidPassword.html">
            Invalid password
        </script>

        <script type="text/ng-template" id="desc_InvalidKey.html">
            Invalid reset key
        </script>

        <div ng-class="{'has-error': form.password.$error.arr}" class="form-group">
            <input ng-minlength="3" ng-maxlength="30" ng-required="true" ng-model="password" class="form-control" name="password" type="password" placeholder="Password">
        </div>
        <button type="submit" style="margin-top: 1em" class="btn btn-default" ng-click="reset(password)">Password reset</button>

        <alert style="margin: 2em 0 0 0" ng-show="form.tooltip.length > 0" close="form.tooltip = []">
            <ul>
                <li ng-repeat="tip in form.tooltip">{{tip}}</li>
            </ul>
        </alert>
    </div>
</form>