<div style="margin-top: 1em">
    <script type="text/ng-template" id="deleteConfirmation.html">
        <div style="padding: 1em">
            <p>Note: Deleting stream will result in irreversible loss of all chat messages associated with the stream.</p>
            <p>Are you sure you want to delete this stream?</p>
            <div style="display: flex">
                <button type="button" class="btn btn-danger" ng-click="deleteStream()">Yes, i am sure</button>
                <button type="button" class="btn btn-success" style="flex-grow: 1; margin-left: 1em" ng-click="$dismiss()">No, close this window</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="renameConfirmation.html">
        <div style="padding: 1em">
            <p>Note: renaming the stream will result in redirecting all users to new url</p>
            <p>Are you sure you want to rename this stream?</p>
            <div style="display: flex">
                <button type="button" class="btn btn-danger" ng-click="updateStreamName()">Yes, i am sure</button>
                <button type="button" class="btn btn-success" style="flex-grow: 1; margin-left: 1em" ng-click="$dismiss()">No, close this window</button>
            </div>
        </div>
    </script>

    <tabset justified="true">
        <tab heading="Streams" active="tabs['streams']" select="selectTab('streams')">
            <div style="margin: 1em 0 0 1em; display: flex">
                <div style="display: inline-flex; flex-direction: column; flex-shrink: 0">
                    <tabset vertical="true" type="pills" style="width: 250px">
                        <tab ng-click="select(stream)" active="stream.active" ng-repeat="stream in streams" style="text-align: center">
                            <tab-heading style="word-wrap: break-word;">
                                {{stream.name}}
                            </tab-heading>
                        </tab>
                    </tabset>
                    <div class="btn-group" style="align-self: flex-end">
                        <button type="button" class="btn btn-success" ng-click="createStream()" style="margin-top: 0.5em">Add (+)</button>
                    </div>
                </div>

                <div style="margin-left: 4em; margin-right: 4em" ng-show="current">
                    <form>
                        <table class="input-group">
                            <tr>
                                <td class="input-group-addon">live</td>
                                <td class="input-group-addon">/</td>
                                <td><input type="text" class="form-control" placeholder="Stream name" ng-model="current.newname"></td>
                                <td class="input-group-addon btn btn-success" ng-click="openRenameConfirm()">Update</td>
                            </tr>
                            <tr>
                                <td style="height: 1em"></td>
                            </tr>
                            <tr>
                                <td class="input-group-addon" colspan="2">topic</td>
                                <td><input type="text" class="form-control" placeholder="Stream topic" ng-model="current.newtopic"></td>
                                <td class="input-group-addon btn btn-success" ng-click="updateStreamTopic()">Update</td>
                            </tr>
                            <tr>
                                <td style="height: 1em"></td>
                            </tr>
                            <tr>
                                <td class="input-group-addon" colspan="2">screensaver</td>
                                <td><input type="text" class="form-control" placeholder="Stream offline image url" ng-model="current.image"></td>
                                <td class="input-group-addon btn btn-success" ng-click="updateStreamImage()">Update</td>
                            </tr>
                            <tr>
                                <td style="height: 1em"></td>
                            </tr>
                            <tr>
                                <td class="input-group-addon" colspan="2">token</td>
                                <td><input type="text" class="form-control" readonly placeholder="Stream token" ng-model="current.token"></td>
                                <td class="input-group-addon btn btn-success" ng-click="updateStreamToken()">Generate new</td>
                            </tr>
                        </table>

                        <label class="btn btn-primary" ng-class="{'btn-success': !current.restricted, 'btn-info': current.restricted}" ng-model="current.restricted" ng-click="updateStreamPrivate(current.restricted)" style="margin-top: 1em" btn-checkbox>
                            <span ng-show="current.restricted">Make public (currently private)</span>
                            <span ng-show="!current.restricted">Make private (currently public)</span>
                        </label>

                        <div style="margin-top: 1em">Currently streaming: <span ng-show="!current.remote">No</span><span ng-show="current.remote">{{current.remote}}</span></div>

                        <button type="button" class="btn btn-danger" ng-click="openDeleteConfirm()" style="margin-top: 1em; float:right">Delete stream</button>
                    </form>
                </div>
            </div>
        </tab>
        <tab heading="Personal" active="tabs['personal']" select="selectTab('personal')">
            <div style="margin: 1em 4em 0 4em;" class="input-group">
                <span class="input-group-addon"><img ng-src="{{user.hashicon | identicon}}"></span>
                <input type="text" style="height: 80px" class="form-control" placeholder="Your email (gravatar'd)" ng-model="user.email">
                <span class="input-group-addon btn btn-success" ng-click="updateEmail()">Update</span>
            </div>
        </tab>
        <tab heading="Credentials" active="tabs['credentials']" select="selectTab('credentials')">
            <div style="margin: 1em 4em 0 4em;">
                <div class="input-group">
                    <span class="input-group-addon">Original password</span>
                    <input type="password" class="form-control" placeholder="Your current password" ng-model="cred.oldpassword">
                    <span class="input-group-addon">New password</span>
                    <input type="password" class="form-control" placeholder="Your new password" ng-model="cred.newpassword">
                    <span class="input-group-addon btn btn-success" ng-click="updatePassword(cred.oldpassword, cred.newpassword)">Update</span>
                </div>
                <alert style="margin-top: 1em" ng-show="passerr" close="passerr = null">
                    <span ng-show="passerr == 'InvalidPassword'">Invalid new password entered</span>
                    <span ng-show="passerr == 'WrongPassword'">Invalid current password entered</span>
                </alert>
                <alert style="margin-top: 1em" ng-show="passok" type="success" close="passok = false">
                    You have changed your password!
                </alert>
            </div>
        </tab>
    </tabset>
</div>